<%= erb :header %>

<ul>
  <% if File.join(@traversed) != '/' %>
    <li>
      <a href="<%= File.join(['/', @repo, @type.to_s, @branch, @traversed[0..-2]]) %>">
        ..
      </a>
    </li>
  <% end %>

  <% @tree.each do |element| %>
    <li>
      <code>
        <%= Guit::Helpers::Html.humanize_type(element[:type]) %>
        <% unless element[:type] == :commit %>
          <a href="<%= File.join(['/', @repo, element[:type].to_s, @branch, @traversed, element[:name]]) %>">
        <% end %>
        <%= element[:name] %>
        <% unless element[:type] == :commit %>
          </a>
        <% end %>
      </code>
    </li>
  <% end %>
</ul>
